@page
@model BookHub.Pages.Book.CreateModel
@{
    ViewData["Title"] = "Add Book";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <label asp-for="Book.Id"></label>
        <input asp-for="Book.Id" />
    </div>
    <div>
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" />
    </div>
    <div>
        <label asp-for="Book.Author"></label>
        <input asp-for="Book.Author" />
    </div>
    <div>
        <label asp-for="Book.Subtitle"></label>
        <input asp-for="Book.Subtitle" />
    </div>
    <div>
        <label asp-for="Book.ISBN"></label>
        <input asp-for="Book.ISBN" />
    </div>
    <div>
        <label asp-for="Book.Description"></label>
        <input asp-for="Book.Description" />
    </div>
    <div>
        <label asp-for="Book.PublishDate"></label>
        <input asp-for="Book.PublishDate" />
    </div>
    <div>
        <label asp-for="Book.PageCount"></label>
        <input asp-for="Book.PageCount" type="number" />
    </div>

    <button type="submit">Add Book</button>
</form>
