@page "{id}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete Book";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Title: @Model.Book.Title</h4>
    <p>Author: @Model.Book.Author</p>
    <!-- Other book properties -->
</div>

<form method="post">
    <input type="submit" value="Delete" />
</form>